<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FailureReportDatabase.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="FailureReportDatabase.My.MySettings.FAILURE_REPORTConnectionString"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=FAILURE_REPORT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog" />
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <FailureReportDatabase.My.MySettings>
            <setting name="FailureReportDataBaseDataSource" serializeAs="String">
                <value>localhost\SQLEXPRESS</value>
            </setting>
            <setting name="FailureReportDBIntegratedSecurityState" serializeAs="String">
                <value>TRUE</value>
            </setting>
            <setting name="FailureReportDataInitialCatalog" serializeAs="String">
                <value>FAILURE_REPORT</value>
            </setting>
            <setting name="FailureReportDataBaseFullConnectionString" serializeAs="String">
                <value>Data Source=localhost\SQLEXPRESS;Initial Catalog=FAILURE_REPORT;Integrated Security=True</value>
            </setting>
            <setting name="MeterSpecDataBaseFullConnectionString" serializeAs="String">
                <value>Data Source=localhost\SQLEXPRESS;Initial Catalog=METER_SPECS;Integrated Security=True</value>
            </setting>
            <setting name="MeterSpecDataBaseInitialCatalog" serializeAs="String">
                <value>METER_SPECS</value>
            </setting>
            <setting name="MeterSpecDataBaseDataSource" serializeAs="String">
                <value>localhost\SQLEXPRESS</value>
            </setting>
            <setting name="MeterSpecDBIntegratedSecurityState" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="MyUserName" serializeAs="String">
                <value>Admin</value>
            </setting>
            <setting name="AttachmentFolder" serializeAs="String">
                <value>\\Uslafvs001038\hqa\Software\Failure Report Database\Attachments</value>
            </setting>
            <setting name="GridViewColumnStates" serializeAs="String">
                <value>Index,False;Original ID,False;Anomaly,False;Failure Description,False;Corrective Action,False;Engineering Notes,False;TCC Comments,False</value>
            </setting>
            <setting name="DGVPrintSettings" serializeAs="String">
                <value />
            </setting>
            <setting name="DGVPageSettings" serializeAs="String">
                <value />
            </setting>
            <setting name="Prompt_To_Change_Database" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentFolder" serializeAs="String">
                <value />
            </setting>
        </FailureReportDatabase.My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
